

page-tour-stationen {
// global now ---   ion-badge.station { font-size: 1.8rem; }
    .item > ion-icon, .item-inner > ion-icon {
        min-height: 1.8rem;
        font-size: 1.8rem;
            }
.Station-sharee { background-color: #0061a1; }

/*.Station-TINK { background-color: #0061a1; width:30px}
.Station-TINK-Konrad { background-color: rgb(153, 0, 255);width:30px }
.Station-Konrad { background-color: #f53d3d;width:30px } 
*/
.tst {width:28px;  }
.tour-tst {width:80px;  }
}

