<ion-header >
    <ion-navbar color="tink-blue">
      <ion-title>
        Tour NEW-Stationen - {{tour_name}} - Stationen 
      <!--<button ion-button color="danger" small round>defekt</button>-->
    </ion-title>
          <ion-buttons end>
          <button ion-button icon-only on-click="loadStations()">
            <ion-icon name="shuffle" ></ion-icon>
          </button>
        </ion-buttons>
         <!-- <span radio-group>Sort by<ion-radio name="misss"></ion-radio><ion-radio name="defekt"></ion-radio></span>
     -->
    </ion-navbar>
  </ion-header>
  <ion-content paddin id="page4">
<!--      <ion-item id="tourStationen-radio3">
        <ion-label>
          Sortierung Anzahl
        </ion-label>
        <ion-radio name="sort"></ion-radio>
      </ion-item>
      <ion-item id="tourStationen-radio4">
        <ion-label>
          Sortierrung defekte
        </ion-label>
        <ion-radio name="sort"></ion-radio>
      </ion-item>
    -->  <ion-item>
          <ion-badge color="tink-blue">NR</ion-badge> 
          <ion-badge color="miss">miss</ion-badge> 
          <ion-badge color="light">soll</ion-badge> 
          <ion-badge color="dark">ist</ion-badge> &nbsp;&nbsp;
          <ion-badge color="danger">df</ion-badge>
          <ion-badge color="trouble">td</ion-badge>
        <ion-badge color="secondary" on-click="loadStations()">chck</ion-badge>
        <ion-badge color="light">ok</ion-badge>
        </ion-item> 
<!--   REST Api     
        <ion-list inset  reorder="true" (ionItemReorder)="reorderItems($event)">
            <ion-item *ngFor="let user of users">
              <h2>{{user.name}}</h2>
              <p>{{user.email}}</p>
            </ion-item>
          </ion-list> 
        -->          
          <ion-list id="" reorder="true" (ionItemReorder)="reorderItems($event)">
<!--            <ion-item *ngFor="let station of (stationen | async)?.results" color="positive" on-click="goToStation12Radliste({nr:12})" id="tourStationen-list-item20"> -->
        <ion-item *ngFor="let item of currentItems" color="positive" on-click="goToStationRadliste(item.station)" id="tourStationen-list-item20">
                    
        <ion-badge [ngClass]="'Station-' + item.group" >{{item.station}}</ion-badge> 
        &nbsp; 
        <ion-badge class="tst" color="miss">{{item.miss}}</ion-badge>
        <ion-badge class="tst" color="light">{{item.soll}}</ion-badge>
        <ion-badge class="tst" color="dark">{{item.anzahl}}</ion-badge>
       &nbsp;
        <ion-badge class="tst" color="danger" *ngIf="item.defekt>'0'">{{item.defekt}}</ion-badge>
        <ion-badge class="tst" color="trouble" *ngIf="item.todo>'0'">{{item.todo}}</ion-badge>
        <ion-badge class="tst" color="secondary" *ngIf="item.check>'0'">{{item.check}}</ion-badge>
        <ion-badge class="tst" color="light" *ngIf="item.okay>'0'">{{item.okay}}</ion-badge>
        
        <ion-icon name="build"  *ngIf="item.todo_info=='1'">&nbsp;</ion-icon>
        <!--
         <p id="tourStationen-markdown10" style="margin-top:0px;color:#000000;">
              SOLL <strong>{{item.soll}}</strong>  am <strong>{{item.soll_zeit}}</strong>
            </p>
          -->
        </ion-item>

      </ion-list>
      <ion-item color="positive"  id="" >
        <ion-label on-click="getNeueVersion()">Version 23 - check neueste Version <ion-icon name="arrow-dropright-circle" color="secondary"  item-right ></ion-icon> {{version}}</ion-label>
      </ion-item>
     
      <ion-item color="positive"  id="" >
        <ion-label on-click="LogOut()">zum > Benutzer-Abmelden < bitte hier klicken <ion-icon  name="checkmark-circle" color="secondary"  item-right  ></ion-icon></ion-label>
      </ion-item>
     
      
  </ion-content>