page-station-radliste {
    .item-md { padding-left: 0px; }
    .item-md [item-right] {  margin: 9px 3px 9px 0;}
    .Station-sharee { background-color: #488aff; font-size: 18px }
    .itc-item-small {padding:2px;}
    /*
    .Station-TINK { background-color: #488aff; font-size: 1.8rem; }
    .Station-TINK-Konrad { background-color: rgb(153, 0, 255);font-size: 1.8rem; }
    .Station-Konrad { background-color: #f53d3d ; font-size: 1.8rem;} 
    */
}
